@import'bootstrap/dist/css/bootstrap.min.css';

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

// Body
#root{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body{
  background-color: #fafafa;
  font-family: 'DM Sans', sans-serif;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  #red{
    color: #ca322f;
  }
  #yellow{
    color: #f6b90f;
  }
  #blue{
    color: #2065ad;
  }
  #black {
    color: black;
  }
  #dark-gray {
    color: #8e8e8e;
  }
  #light-gray {
    color: #fafafa;
  }
  #border-gray {
    color: #dbdbdb;
  }
}
button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  background-color: #2065ad;
  a {
    text-decoration: none;
    color: white;
  }
  a:hover{
    color: white;
  }
  font-size: 20px;
}

// LOADING
.loading{
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fafafa;
  margin-top: 50px;
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  margin-bottom: 50px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #f6b90f;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #f6b90f transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// NAV
.navbar {
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: white;
  border-bottom: 1px solid #dbdbdb;
  .navbar-element{
    padding: 0;
    margin-top: 0;
  }
  .navbar-contents{
    display: flex;
    justify-content: center;
    width: 100%;
    .navbar-left{
      display: flex;
      align-items: center;
      .logo{
        font-size: 25px;
      }
    }
    .navbar-center{
      width: 40%;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      .search{
        height: 25px;
      }
    }
    .btn-primary{
      background: none;
      background-color: none;
      border: none;
    }
    .btn-primary:focus{
      box-shadow: none;
    }
    .navbar-right{
      display: flex;
      align-items: center;
      .home, .explore, .create{
        height: 25px;
        margin: 0;
      }
      .profile {
        height: 30px;
        margin: 0;
        border-radius: 50%;
      }
    }
  }
  
  .navbar-element {
    margin: 0 20px 0 0;
    text-decoration: none;
    color: black;
    cursor: pointer;
  }

}

// FORMS

// Register
.register, .login, .create-post-section, .edit-profile-section{
  width: 43%;
  margin: 60px auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .register-top, .register-bottom, .login-top, .login-bottom {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 50px 20px;
    border: 1px solid #dbdbdb;
    background-color: white;
    color: #8e8e8e;  
  }
  .register-bottom, .login-bottom {
    margin-top: 25px;
    padding: 20px 0 20px 0;
    p{
      margin: 0;
    }
    a {
      text-decoration: none;
      color: #2065ad;
    }
  }
  h3 {
    font-size: 50px;
    margin-bottom: 15px;
  }
  h4 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
  }
  .register-terms{
    text-align: center;
    font-size: 14px;
    padding: 10px 10px 0 10px;
  }
}

// Create post
.create-post-section, .edit-profile-section{
  .form-container{
    border: 1px solid #dbdbdb;
    background-color: white;
    padding: 50px 20px;
  }
  .image-upload-container{
    display: flex;
    flex-direction: column;
    color: #8e8e8e;
    .image-preview{
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        max-width:50%;
      }
    }
    .file-label, label{
      border: 1px solid #dbdbdb;
    }
    .file-label, label, .input-warning{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fafafa;
      border: 1px solid #dbdbdb;
      border-radius: 3px;
      height: 30px;
      padding: 20px;
      cursor: pointer;
    }
    .file-input{
      display: none;
    }
  }
}

// General
.alert{
  display: flex;
  justify-content: space-between;
  align-items: center;
  p {
    margin: 0;
  }
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    width: 25px;
  }
}
.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;

  .form{
    width: 80%;
  }
  textarea{
    height: 100px;
  }
  .field{
    margin: 15px;
    p.label {
      margin-bottom: 5px;
    }
    input, .input{
      width: 100%;
      padding: 5px;
      border: 1px solid #dbdbdb;
      border-radius: 3px;
    }
    .input-warning {
      width: 100%;
      padding: 5px;
      border: 1px solid #ca322f;
      border-radius: 3px;
    }
    button {
      width: 100%;
      padding: 5px;
      border: none;
      border-radius: 3px;
      background-color: #2065ad;
      color: white;
    }
  }

  .image-upload-container{
    display: flex;
    flex-direction: column;
    .image-preview{
      display: flex;
      justify-content: center;
      align-items: center;
      img{
        max-width:50%;
        // border-radius: 50%;
      }
    }
    .file-label{
      border: 1px solid #dbdbdb;
    }
    .file-label, .input-warning{
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #fafafa;
      border-radius: 3px;
      height: 30px;
      padding: 20px;
      cursor: pointer;
    }
    .file-input{
      display: none;
    }
  }
}

// POST CARDS
.post-card{
  margin: 15px;
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  color: black;
}


// HOME PAGE
.login-home-page{
  .login-home-message{
    margin: 50px;
    a{
      text-decoration: none;
      color: #2065ad;
    }
  }
  img{
    width: 100%;
  }
}
.unpopulated-home-page{
  .unpopulated-home-page-top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-top: 50px;
    h4 {
      margin-bottom: 30px;
    }
  }
  .unpopulated-home-page-bottom{
    margin: 40px auto;
    text-align: center;
  }
}
.unpopulated-suggestions{
  color: #8e8e8e;
  h6{
    margin-bottom: 30px;
  }
  button {
    font-size: 15px;
  }
}
.home-page {
  display: flex;
  width: 75%;
  margin: 30px auto;
  .mini-profile-image{
    border-radius: 50%;
  }
  .home-page-left{
    width: 65%;
    .post-card{
      margin-bottom: 30px;
    }
      .post-header{
        border-bottom: 1px solid #dbdbdb;
        padding: 15px 0 10px 15px;
        .post-header-link{
          display: flex;
          align-items: center;
          text-decoration: none;
          p{
            margin: 0;
            margin-left: 10px;
            text-decoration: none;
            color: black;
            font-size: 15px;
            font-weight: bold;
          }
          p:hover{
            text-decoration: underline;
          }
          img {
            max-width: 40px;
            height: 100%;
          }
        }
      }
      .home-post-image{
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid #dbdbdb;
        img{
          max-width: 100%;
          max-height: 500px;
        }
      }
      .post-controls {
        padding: 10px;
        border-bottom: 1px solid #dbdbdb;
        button{
          width: 30px;
          padding: 0;
          margin: 0 10px;
          background-color: white;
          img{
            max-width: 100%;
          }
        }
      }
      .post-info{
        padding: 0 20px;
        border-bottom: 1px solid #dbdbdb;
        p{
          margin: 5px 0;
        }
        .created-at{
          color: #8e8e8e;
          font-size: 12px;
          margin-top: 10px;
        }
    }
    .home-comment-container {
      margin: 10px 10px 10px 20px;
      height: 100px;
      overflow-y: scroll;
      p{
        margin: 0;
      }
      .comment-nums {
        color: #8e8e8e;
        margin-bottom: 10px;
      }
      .created-at{
        color: #8e8e8e;
        font-size: 12px;
        margin-bottom: 10px;
      }
    }
    
  }
  .home-page-right{
    width: 30%;
    margin-left: 20px;
    color: #8e8e8e;
    h5{
      margin: 10px 0 30px 0;
    }
    .suggestion-posts-container{
      .suggestion-card{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        p{
          margin: 0;
        }
        .suggestion-card-left{
          width: 15%;
          margin-right: 8px;
          img{
            width: 100%;
            max-height: 100%;
          }
        }
        .suggestion-card-right{
          display: flex;
          justify-content: space-around;
          align-items: center;
          width: 85%;
          margin-left: 5px;
          a {
            margin-left: 20px;
            text-decoration: none;
            color: #2065ad;
          }
          p{
            margin: 0;
            font-size: 13px;
          }
        }
      }
    }
  }
}

// EXPLORE PAGE
.explore-posts-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  .explore-posts-container-header{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    p{
      margin: 5px 20px;
    }
    input{
      margin: 0 20px;
    }
    .search-left{
      margin-top: 10px;
    }
    .search-right{
      input{
        font-size: 15px;
      }
    }
  }
}
.explore-posts-container-main, .more-posts-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
// Cards
.post-cards-container {
  margin: 10px;
  width: 25%;
  height: 350px;
  margin: 10px;
  position: relative;
  .hoverable-div{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    z-index: 10;
    cursor: pointer;
    .likes, .comments{
      display: flex;
      justify-content: space-around;
      font-size: 20px;
      margin: 10px;
      color: white;
    }
    img{
      width: 30px;
      margin-right: 10px;
    }
  }
  .post-card {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
      margin: 0;
    }
    .post-card-image{
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        img {
          max-width: 100%;
          max-height: 300px;
        }
      }
    }
  }
}

// POST SHOW
.post-show-container{
  width: 70%;
  margin: 40px auto;
}
.owner-profile-image{
  max-width: 50px;
  max-height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.post-show-main{
  display: flex;
  width: 100%;
  height: 100%;
  background-color: white;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  margin-bottom: 40px;
  .post-show-left{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    .post-image{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
    .post-delete-button{
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      height: 30px;
      width: 100%;
      button {
        background-color: white;
      }
    }
    img{
      max-width: 100%;
      height: 100%;
      max-height: 500px;
    }
  }
  .post-show-right{
    border-left: 1px solid #dbdbdb;
    width: 40%;
    .header-container{
      width: 100%;
    }
    .post-show-right-header{
      width: 100%;
      display: flex;
      justify-content: space-around;
      align-items: center;
      border-bottom: 1px solid #dbdbdb;
      margin-top: 10px;
      a {
        text-decoration: none;
        color: black;
      }
      button {
        margin-left: 10px;
      }
      button {
        background-color: white;
        color: #2065ad;
        font-size: 15px;
        margin-bottom: 15px;
      }
      p.follow {
        a{
          color: #2065ad;
        }
      }
    }
    .post-show-right-main{
      .post-show-caption{
        .post-show-caption-left{
          width: 20%;
        }
        display: flex;
        margin: 10px 0 10px 10px;
        p{
          margin: 0 0 0 10px;
        }
        img {
          margin: 0 5px 0 5px;
          max-width: 50px;
        }
      }
    }
  }
  .post-show-comments{
    border-bottom: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    height: 100px;
    overflow-y: scroll;
    .no-comments{
      margin: 10px 0 0 20px;
      color: #8e8e8e;
    }
    .post-show-comment-container{
      display: flex;
      margin: 20px 10px 10px 10px;
      .post-show-comment-left{
        width: 20%;
        img {
          margin: 0 0 0 10px;
          max-width: 90%;
        }
      }
      .post-show-comment-right{
        margin-left: 8px;
        width: 80%;
        display: flex;
        justify-content: space-between;
        .comment{
          height: 100%;
        }
        button{
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          margin-left: 5px;
          background-color: white;
        }
        p{
          margin: 0;
        }
        .comment-nums{
          color: #8e8e8e;
          :last-child {
            font-size: 12px;
            margin-top: 3px;
          }
        }
      }
    }
  }
  .post-show-controls{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  .post-show-buttons {
    display: flex;
    border-right: 1px solid #dbdbdb;
    img {
      max-height: 25px;
      margin: 10px 15px;
    }
  }
  .post-show-nums {
    border-bottom: 1px solid #dbdbdb;
    margin-top: 10px;
    p {
      margin: 0 0 0 10px;
    }
    .created-at {
      color: #8e8e8e;
      margin-bottom: 5px;
      font-size: 12px;
      margin-top: 3px;
    }
  }
  .comments-form-container{
    form {
      display: flex;
      align-items: center;
      margin: 20px 0 0 10px;
      img {
        max-height: 25px;
        margin: 0 5px 20px 10px;
      }
    }
    .input{
      display: flex;
      font-size: 15px;
      border: none;
      resize: none;
      margin: 0 10px 0 20px;
      width: 80%;
    }
    button {
      background-color: white;
      font-size: 15px;
      color: #2065ad;
      margin: 0 5px 20px 0;
    }
  }
}
.post-show-lower{
  color: #8e8e8e;
  .post-cards-container{
    width: 30%;
    height: 300px;
  }

}

// POST LIKE and USER FOLLOW

.follow-card, .like-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 60px auto;
  border: 1px solid black;
  padding: 50px 0;
  button {
    margin: 10px;
  }
}


// USER SHOW PAGE
.user-show-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .user-show-container {
    width: 70%;
    margin: 10px auto;
  }
}
.user-show-header {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  img {
    max-height: 200px;
    max-width: 200px;
    border-radius: 50%;
    margin-right: 70px;
  }
  .user-show-header-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .user-controls{
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-bottom: 10px;
      h3 {
        margin: 0;
        padding-left: 20px;
      }
      button {
        font-size: 15px;
        background-color: #fafafa;
        margin-left: 30px;
        color: #2065ad;
      }
    }
    .user-nums{
      display: flex;
      justify-content: space-around;
    }
    .user-info {
      padding-left: 20px;
      p {
        margin: 0;
      }
    }
  }
}
.unpopulated-profile-page {
  h3 {
    margin: 20px 0;
  }
  button {
    font-size: 15px;
  }
  .unpopulated-home-background{
    width: 100%;
    figure{
      display: flex;
      justify-content: flex-end;
    }
    img{
      max-width: 70%;
    }
  }
}
.user-show-posts-container {
  display: flex;
  flex-wrap: wrap;
  .user-show-post-link {
    width: 30%;
    margin: 10px;
    .user-show-post {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 300px;
      background-color: white;
      border: 1px solid #dbdbdb;
      border-radius: 3px;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
  
}

