@import'bootstrap/dist/css/bootstrap.min.css';

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

// Body
#root{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
body{
  background-color: #fafafa;
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

// NAV
.navbar {
  font-family: 'DM Sans', sans-serif;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: white;
  .navbar-contents{
    display: flex;
    justify-content: center;
    width: 100%;
    .navbar-left{
      display: flex;
      width: 50%;
      .logo{
        font-size: 25px;
        #red{
          color: #ca322f;
        }
        #yellow{
          color: #f6b90f;
        }
        #blue{
          color: #2065ad;
        }
      }
      .search{
        height: 25px;
        margin: 0;
      }
    }
    .btn-primary{
      background: none;
      background-color: none;
      border: none;
    }
    .btn-primary:focus{
      box-shadow: none;
    }
    .navbar-right{
      display: flex;
      align-items: center;
      .home, .explore, .create{
        height: 25px;
        margin: 0;
      }
      .profile {
        height: 30px;
        margin: 0;
        border-radius: 50%;
      }
    }
  }
  
  .navbar-element {
    margin: 0 20px 0 0;
    text-decoration: none;
    color: black;
    cursor: pointer;
  }

}

// FORMS
// Image Uploader component
.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 60px auto;
  .form{
    width: 80%;
  }
  textarea{
    height: 100px;
  }
  .field{
    margin: 15px;
    input, .input{
      width: 100%;
    }
  }

  .image-upload-container{
    display: flex;
    flex-direction: column;
    .image-preview{
      img{
        max-width:50%;
      }
    }
    .file-label{
      background-color: lightgray;
      border: 1px solid gray;
      border-radius: 2px;
      height: 30px;
      text-align: center;
      padding: 20px;
      cursor: pointer;
    }
    .file-input{
      display: none;
    }
  }
}


// REGISTER
.register{
  width: 50%;
  margin: 60px auto;
  .field{
    margin: 15px;
    input, .input{
      width: 100%;
    }
  }
}


// HOME PAGE
.home-page {
  display: flex;
  width: 70%;
  margin: 30px auto;
  .mini-profile-image{
    border-radius: 50%;
  }
  .home-page-left{
    width: 70%;
    .post-card{
      margin: 15px;
      padding: 5px;
      border: 1px solid black;
      .post-header{
        margin-bottom: 5px;
        .post-header-link{
          display: flex;
          img {
            max-width: 50px;
            max-width: 50px;
          }
        }
      }
      img{
        max-width: 100%;
      }
    }
    
  }
  .home-page-right{
    width: 30%;
    margin-left: 20px;
    .suggestion-posts-container{
      .suggestion-card{
        display: flex;
        justify-content: space-around;
        align-items: center;
        .suggestion-card-left{
          img{
            max-width: 50px;
            max-height: 50px;
          }
        }
        .suggestion-card-right{
          display: flex;
          justify-content: space-around;
          align-items: center;
          button{
            margin-left: 15px;
          }
          p{
            margin: 0;
          }
        }
      }
    }
  }
}

// EXPLORE PAGE
.explore-posts-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  .explore-posts-container-header{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    p{
      margin: 5px 20px;
    }
    input{
      margin: 0 20px;
    }
  }
}
.explore-posts-container-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
// Cards
.post-cards-container {
  margin: 10px;
  width: 25%;
  height: 420px;
  margin: 10px;
  .post-card {
    border: 1px solid black;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
      margin: 0;
    }
    .post-card-image{
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        img {
          max-width: 100%;
          max-height: 300px;
        }
      }
    }
  }
}

// POST SHOW
.post-show-container{
  width: 70%;
  margin: 40px auto;
}
.owner-profile-image{
  max-width: 50px;
  max-height: 50px;
}
.post-show-main{
  display: flex;
  width: 100%;
  .post-show-left{
    width: 65%;
    img{
      max-width: 100%;
    }
  }
  .post-show-right{
    .post-show-right-header{
      display: flex;
      justify-content: space-around;
      align-items: center;
      button {
        margin-left: 10px;
      }
    }
    .post-show-right-main{
      .post-show-caption{
        display: flex;
      }
    }
  }
  .post-show-comments{
    .post-show-comment-container{
      display: flex;
    }
  }
  .post-show-buttons {
    display: flex;
    button {
      margin: 0 20px;
    }
  }
}
.post-show-lower{
  .more-posts-container{
    display: flex;
    flex-wrap: wrap;
    .more-posts-card{
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
      margin: 10px;
      width: 30%;
      img{
        max-width: 100%;
        max-height: 250px;
      }
    }
  }
}

// POST LIKE and USER FOLLOW

.follow-card, .like-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  margin: 60px auto;
  border: 1px solid black;
  padding: 50px 0;
  button {
    margin: 10px;
  }
}


// USER SHOW PAGE
.user-show-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .user-show-container {
    width: 70%;
    margin: 10px auto;
  }
}
.user-show-header {
  display: flex;
  justify-content: center;
  img {
    max-height: 200px;
    max-width: 200px;
  }
  .user-show-header-right {
    .user-nums{
      display: flex;
      justify-content: space-around;
    }
  }
}
.user-show-posts-container {
  display: flex;
  flex-wrap: wrap;
  .user-show-post-link {
    width: 30%;
    .user-show-post {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 300px;
      margin: 10px;
      border: 1px solid black;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
  
}

